  <hr> 
  <div class="footer">
	<div id = "footer1" class="contentsRow  W1080 contentL14-font">
		<div class="row2 contentsRow">
			<div class="row3">
				<ul>
					<li class="marginT16"><a class="link" href="/">Top</a></li>
					<li class="marginT16"><a class="link" href="/">ABOUT</a></li>
					<li class="marginT16"><a class="link" href="/">NEWS</a></li>
				</ul>
			</div>
			<div class="row3">
				<ul>
					<li class="marginT16"><a class="link" href="/">WORKS</a></li>
					<li class="marginT16"><a class="link" href="/">TUTORIAL</a></li>
					<li class="marginT16"><a class="link" href="/">CONTACT</a></li>	
				</ul>
			</div>
			<div>
				<ul>	
					<li class="marginT16"><a class="link" href="/">SHOP</a></li>
					<li class="marginT16"><a class="link" href="/">PRIVACY POLICY</a></li>
				</ul>
			</div>
		</div>
		<div class="row2 marginT10">
			<ul class="textCenter">
				<% var vectors = ["./img/vector-0.png", "./img/vector-1.png", "./img/vector-2.png", "./img/vector-3.png", "./img/vector-4.png"];
					vectors.forEach(function(value){  %>
					<a href="#"><img class="H20" src= <%= value %>></a>
				<% }) %>
			</ul>
			<ul>
				<li class="textCenter marginT16"><a class="link" href="/">pr@amitysensei.com</a></li>	
			</ul>
		</div>
	</div>
	<div id = "footer2" class="contentL14-font">
		<ul>
			<li class="marginT16"><a class="link" href="/">Top</a></li>
			<li class="marginT16"><a class="link" href="/">ABOUT</a></li>
			<li class="marginT16"><a class="link" href="/">NEWS</a></li>
			<li class="marginT16"><a class="link" href="/">WORKS</a></li>
			<li class="marginT16"><a class="link" href="/">TUTORIAL</a></li>
			<li class="marginT16"><a class="link" href="/">CONTACT</a></li>
			<li class="marginT16"><a class="link" href="/">SHOP</a></li>
			<li class="marginT16"><a class="link" href="/">PRIVACY POLICY</a></li>
		</ul>
		<hr>
		<ul>
			<% var vectors = ["./img/vector-0.png", "./img/vector-1.png", "./img/vector-2.png", "./img/vector-3.png", "./img/vector-4.png"];
				vectors.forEach(function(value){  %>
				<a href="#"><img class="H20" src= <%= value %>></a>
			<% }) %>
		</ul>
		<ul>
			<li class="marginT16"><a class="link" href="/">pr@amitysensei.com</a></li>	
		</ul>
	</div>
	<div class="contentB12-font"><p class=" textCenter">©︎2021 amity_sensei | olio.inc</p></div>
	<br>
  </div>
  
  
	   